/* здесь используйте глобальные переменные */
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$special-dark-grey: #444444;
$special-grey: #666666;
$special-grey-2: #cdcdcd;
$white: #ffffff;
$black: #000000;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-grey-2: #e6e6e6;
$basic-grey-3: #e7e7e7;
$example-bg: #eaeaea;
$special-black: #111111;
$special-black-2: #222222;
$social-border: #d9d9d9;
$social-border-2: #ebebeb;
$social-border-3: #d3d3d3;
$red: #ff8282;

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1440px)";
