.button {
  display: block;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic-green;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--more {
  color: $special-dark-grey;
  background-color: $basic-grey;
}
