.catalog {
  border-top: 1px solid $social-border;

  @media #{$tablet} {
    border: none;
  }
}

.catalog__title {
  font-family: $secondary-font;
  line-height: 36px;
  font-size: 36px;
  color: $black;
  font-weight: 400;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 40px;

  @media #{$tablet} {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 84px;
  }

  @media #{$desktop} {
    margin-top: 70px;
    margin-bottom: 84px;
  }
}
