.gift {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 290px, transparent 290px), image-set(url("../../images/secondary-product-background-mobile@1x.jpg") type("image/jpg"), url("../../images/secondary-product-background-mobile@2x.jpg") type("image/jpg") 2x, url("../../images/secondary-product-background-mobile@1x.webp") type("image/webp"), url("../../images/secondary-product-background-mobile@2x.webp") type("image/webp") 2x);
  background-repeat: no-repeat;
  background-size: cover, 100% 100%;
  background-position: center;

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#icon-gift");
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media #{$tablet} {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 200px, transparent 200px), image-set(url("../../images/secondary-product-background-tablet@1x.jpg") type("image/jpg"), url("../../images/secondary-product-background-tablet@2x.jpg") type("image/jpg") 2x, url("../../images/secondary-product-background-tablet@1x.webp") type("image/webp"), url("../../images/secondary-product-background-tablet@2x.webp") type("image/webp") 2x);
    margin-left: 1px;

    &::before {
      width: 80px;
      height: 82px;
      top: 57px;
      left: 77px;
      transform: none;
    }
  }

  @media #{$desktop} {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 288px, transparent 288px), image-set(url("../../images/secondary-product-background-desktop@1x.jpg") type("image/jpg"), url("../../images/secondary-product-background-desktop@2x.jpg") type("image/jpg") 2x, url("../../images/secondary-product-background-desktop@1x.webp") type("image/webp"), url("../../images/secondary-product-background-desktop@2x.webp") type("image/webp") 2x);
    background-size: 245px 288px, 100% 100%;
    background-position: top;
    margin-top: 0;
    height: 288px;
    min-width: 245px;

    &::before {
      width: 80px;
      height: 83px;
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.gift__description {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  padding: 187px 0 43px;
  margin: 0 auto;
  width: 165px;

  @media #{$tablet} {
    padding: 71px 2px 69px;
    margin-right: 125px;
    text-align: start;
  }

  @media #{$desktop} {
    padding: 185px 0 43px;
    margin: 0 auto;
    text-align: center;
  }
}
