.secondary-product__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
  font-weight: 400;
}

.secondary-product__description {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  background-color: rgba(104, 183, 56, 0.85);
}
