.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 27px;
  padding: 20px 0;
  list-style: none;
  border-top: 1px solid $social-border;
  border-bottom: 1px solid $social-border;
  gap: 24px;
  justify-content: center;

  @media #{$tablet} {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 28px;
  height: 22px;

  &::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 22px;
    background-color: $special-grey;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vk {
  &::after {
    mask-image: url("../../icons/stack.svg#vk-logo");
  }
}

.social__link--yt {
  &::after {
    mask-image: url("../../icons/stack.svg#yt-logo");
  }
}

.social__link--tg {
  &::after {
    mask-image: url("../../icons/stack.svg#tg-logo");
  }
}
